.social{
    margin-top: 65px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap:10px;
    position: relative;
   
    overflow: hidden;
}
.title-s{
    font-size: 60px;
    color:rgb(255,255,255,0.7);
    left: 45%;
    font-weight: bold;
    letter-spacing: 30px;
    top:6%;
    position: absolute;
    animation: ab 2s;
}
@keyframes ac {
    0%{
       
        height: 100vh;
       
    }
    100%{
        
        height: 500px;
    }
    
}
@keyframes ab {
    0%{
        
        letter-spacing: 500px;
        transform: translateX(-1000px) scale(3);
    }
    100%{
        letter-spacing: 30px;
        transform: translateX(0px);
    }
    
}
.create{
    transition: 0.5s;
    overflow: hidden;
    position: fixed;
    z-index: 90;
    max-height: 800px;
    height: 90px;
    width: 90px;
    bottom: 10px;

    right: 10px;
    border:2px solid blueviolet;
   text-align: center;
    font-size: 55px;
    background-color: rgb(112, 111, 111);
    border-radius: 90%;
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
}
.create textarea{
    width:90%;
    height: 20px;
    max-height: 400px;
    padding: 10px;
    color: black;
    font-size: 25px;
    resize: none;
    border: none;
    outline: none;
}
.create button{
    width: 90%;
    height: 90px;
    background-color: transparent;
    font-size: 30px;
    border: 2px solid lightcyan;
}
.create-container{
    margin: auto;
    height: 200px;
   display: none;
    width: 300px;
    bottom: 10px;
    overflow: hidden;
    right: 10px;
    position: relative;
    border: 2px dotted lightcoral;
    
}
.thongbao-i{
display: flex;
gap:20px;
}
.thongbao-i-i{
    padding: 10px;
    height: 100%;
    width: 100%;
    display: inline-block;
}
.thongbao-dt{
    height: 50px;
    width: 50%;
    font-size: 20px;
}
.s-i{
    height: 300px;
    width: 200px;
    background-color: white;
}
.social h2{
    color: pink;
}
.s-background{
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-radius: 0px 0px 50px 50px;
    animation: ac 3s;
}
.s-thongbao-c{
    width: 96%;
    padding: 2%;
    height: 300px;
    background-color: rgb(94, 94, 94);
    border-radius: 15px;
    overflow: auto;
    position: relative;
    white-space: nowrap;
}
.s-thongbao:hover .scrollTrend {
    opacity:1;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.input textarea{
    width:600px;
    min-height: 60px;
    border-radius: 15px 0px 0px 15px;
    padding: 10px;
    color: black;
    font-size: 25px;
    resize: none;
    border: none;
    outline: none;
}

.input button{
    height: 80px;
    width: 100px;
   
    border-radius: 0px 15px 15px 0px;
    font-size: 20px;
    border: none;
    background-color: black;
}
.comment{
}
.input{
    display: flex;
}
.comment-i{
    line-height: 30px;
    font-size: 20px;
    width:80%;
    word-break: break-all;
    white-space:pre-wrap;

}
.input-img{
    cursor: pointer;
    opacity: 0;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 231, 231);
    position: absolute;
}
.c-i{
    margin-top: 5px;
    display: flex;
    gap:20px;
    background-color: rgb(0, 0, 0,0.2);
    border-radius: 20px;
    padding: 2px;
}
.s-thongbao{
    width: 66%;
    position: relative;
    background-color: rgb(0, 0, 0);
    overflow:hidden;
	scroll-behavior: smooth;
}
.s-user{
    display: flex;
    gap: 10px;
}
.s-av{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
}
.s-user .name {
    font-size: 20px;
    height: 70px;
}
.name-click{
    cursor: pointer;
}
p{
   font-size: 20px;
   white-space:pre-wrap;
}

.img-c{
    width: 60%;
    height: auto;
}
.s-user .name div{
    margin-top: 20px;
    font-size: 20px;
}
.s-content{
    word-wrap: break-word;
    line-height: 50px;
    width: 60%;
   padding: 50px;
    background-color: rgb(119, 119, 119);
}
@media screen and (max-width:800px) {
    .s-thongbao{
        width: 100%;
    }
    .s-thongbao-c{
        width: 100%;
    }
    .s-content{
        width: 90%;
    }
    .title-s{
       left:30%;
    }
}