.b-t{
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0,0.8);
    position:absolute;
    z-index: 4;
    display:none;
    align-items: center;
    justify-content: center;
    animation: bg 2s;
}
@keyframes bg{
    0%{
        background-color: transparent;
    }
}
.b-t div{
    animation: ani 1.9s;
}
.b-t .close{
    position: absolute;
    font-size:40px;
    padding: 20px;
    top: 55px;
    right: 0;
    cursor: pointer;
}
.b-t-cart{
    display: flex;
    flex-direction: column;
    gap:20px;
    overflow:none;
    height: 700px;
    width: 500px;
    align-items: center;
}

.cart-items{
    overflow:visible;
    display: none;
    flex-direction: column;
    gap:10px;
    width: 50%;
    overflow:visible;
    align-items: center;
}
.cart-items div div{
    overflow:visible;
}
.cart-items div{
    background-color: green;
    overflow:visible;
    padding: 10px;
    width: 90%;
    border-radius: 15px;
    animation: ani 1.5s;
}
@keyframes ani{
    0%{transform:scale(-1.6);
        background-color: white;
        gap:2000px;
        word-spacing: 1000px;
        
      }
      
    50%{transform: translate(200px,100px);}
    100%{transform: translate(0px,0px);}
}
.b-t-child{
    display: flex;
    flex-direction: column;
    gap:20px;
    height: 700px;
    width: 500px;
    background-color: black;
    border-radius: 15px;
    align-items: center;
    overflow-y:auto;
    border: 2px solid white;
}
.b-t-child legend{
    padding: 10px;
    font-size: 20px;
    color: lightblue;
 
}
.b-t-child fieldset{
    
    height:auto;
    width: 80%;
    border-radius:15px;
    border-color: lightblue;
   display: flex;
   flex-direction: column;

}
.b-t-cart button{
    justify-content: center;
    background-color: transparent;
    border: 2px solid lightgreen;
    display: none;
    height:50px;
    width:90%;
    border-radius: 15px;
    transition: 0.5s;
    animation: ani 1s ;
}
.b-t-a{
    margin-right: 20px;
    border-radius: 50px;
    height: 700px;
    width: 500px;
    background-color: white;
    overflow: hidden;
}
.b-t-a img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.b-t-cart button:hover{
    background-color: green;
}
.b-t-child fieldset ul{
    display: flex;
    flex-wrap: wrap;
}
.time{
    position: relative;
}
.time2{
    position: relative;
  
}
.close2{
    position:absolute;
    right: 0;
    top: 0;
    width: 10px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
}
